<!doctype html>
<html lang="en">

<head>
    <title>FPOLY POLYTECHNICH ĐÀ NẴNG</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div class="container" ng-app="myapp">
        <footer class="page-footer bg-dark">
            <div class="icon bg-info">
                <div class="container">
                    <div class="row py-4 d-flex align-items-center">
                        <div class="col-md-12 text-center">
                            <a href="#"><i class="fas fa-envelope mr-5 fa-2x"></i></a>
                            <a href="#"><i class="fab fa-facebook-square mr-5 fa-2x"></i></a>
                            <a href="#"><i class="fab fa-instagram mr-5 fa-2x"></i></i></a>
                            <a href="#"><i class="fab fa-twitter mr-5 fa-2x"></i></i></a>
                            <a href="#"><i class="fas fa-phone mr-5 fa-2x"></i></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container text-center text-md-left mt-5">
                <div class="row">
                    <div class="col-md-3 mx-auto mb-4">
                        <h6 class="text-uppercase">FPOLY POLYTECHNICH</h6>
                        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 168px; height: 2px;">
                        <p class="mt-2"> Delectus blanditiis ipsam nulla saepe asperiores voluptates reprehenderit, mollitia in nobi!</p>
                        <a href="index.html"><img src="images/logo.png" class="w-90"></a>

                    </div>

                    <div class="col-md-3 mx-auto mb-4">
                        <h6 class="text-uppercase">Thông tin tuyển sinh</h6>
                        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 183px; height: 2px;">
                        <ul class="list-unstyled">
                            <li class="my-2">
                                <a href="#">Kế hoạc tuyển sinh</a>
                            </li>
                            <li class="my-2">
                                <a href="#">Các chương trình đạo tạo</a>
                            </li>
                            <li class="my-2">
                                <a href="#">Diều kiện giảng dạy</a>
                            </li>
                            <li class="my-2">
                                <a href="#">Tư vấn tuyển sinh</a>
                            </li>
                            <li class="my-2">
                                <a href="#">Đăng kí xét tuyển</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 mx-auto mb-4">
                        <h6 class="text-uppercase">Các liên kết khác</h6>
                        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 150px; height: 2px;">
                        <ul class="list-unstyled">
                            <li class="my-2">
                                <a href="#">Điều hành tác nghiệp</a>
                            </li>
                            <li class="my-2">
                                <a href="#">Hệ thống học tập LMS</a>
                            </li>
                            <li class="my-2">
                                <a href="#">Thư viện</a>
                            </li>
                            <li class="my-2">
                                <a href="#">Email</a>
                            </li>
                            <li class="my-2">
                                <a href="#">Hợp tác doanh nghiệp</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 mx-auto mb-4">
                        <h6 class="text-uppercase">Liên hệ</h6>
                        <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; height: 2px;">
                        <ul class="list-unstyled">
                            <li class="my-2">
                                <a href="#"><i class="fas fa-home mr-2"></i>137 Nguyễn Thị Thập, Thanh Khê</a>
                            </li>
                            <li class="my-2">
                                <a href="#"><i class="fas fa-envelope mr-2"></i>caodangFPTpoly@gmail.com</a>
                            </li>
                            <li class="my-2">
                                <a href="#"><i class="fas fa-phone mr-2"></i>0236 3710 999</a>
                            </li>
                            <li class="my-2">
                                <a href="#"><i class="fas fa-fax mr-2"></i>00228718739878</a>
                            </li>
                            <li class="my-2">
                                <a href="https://ap.poly.edu.vn/"><i class="fas fa-globe-asia mr-2"></i>ap.poly.edu.vn/</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">
                <h5>&copy; Copyright
                    <a href="ap.poly.edu.vn">ap.poly.edu.vn</a></h5>
                <p>Design by Minh Hieu </p>
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="scripts/owl.carousel.min.js"></script>
    <script src="scripts/script.js"></script>
    <script src="/js/layout.js"></script>
    <script src="/js/dirPagination.js"></script>
</body>

</html>